@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  width: 100vw;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  background: #414361;

  padding: 2rem 1rem;
}

.container{
  width: 900px;
  height: 450px;

  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;

  background: #2A2D43;

  border-radius: 1rem;
}

.container h1{

  margin-top: 1rem;

  color:#F9F6EE;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: 'Rubik', sans-serif;

  margin-bottom: 1rem;
}

.functional-container{
  width: 800px;
  height: 350px;

  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.form-container{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

input{
  appearance: none;
  outline: none;
  border: none;
  flex: 1 1 0%;

  width: 700px;
  padding: 1rem;
  border-radius: 1rem;

  margin-top: 1rem;
  margin-bottom: 1rem;

  background: #414361;
  color: white;
  font-size: 1rem;
}

input::placeholder{
  font-size: 1rem;
  color: #a3a3a3;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.submission_btn{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.submission_btn button{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.8rem 2rem;
  border-radius: 1rem;
  border: 1px solid #2A2D43;
  font-weight: 500;
  font-family: 'Rubik', sans-serif;

  background: #414361;
  color: white;
  transition: 0.4s;
  cursor: pointer;
}

.submission_btn button:hover{
  background: gray;
  color: white;
}

.answer{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.answer h1{
  margin-top: 1rem;
  font-size: 1.5rem;
  color: #86efac;
}